<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NYC Property Violations: HousingApp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container-sm container-md">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" id="homepage" href="/">Housing Data</a>
                    <form class="justify-content-start">
                        {{#if logged_in}}
                            <a role="button" class="btn btn-primary" href='/profile'>Profile</a>
                            <button type="button" class="btn btn-secondary" id='logout'>Logout</button>
                        {{else}}
                            <a crole="button" class="btn btn-success" href='/login'>Login</a>
                        {{/if}}
                    </form>
                </div>
            </nav>

            <main class="container container-fluid mt-5">
                {{{body}}}
            </main>

            {{#if logged_in}}
                <script src='/js/logout.js'></script>
            {{/if}}
        </div>
    </body>
</html>