<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HousingApp</title>
</head>

<body>
    <header>
        <a href='/'><h1>Housing Data</h1></a>
    {{#if logged_in}}
        <nav>
            <button class='no-button' id='logout'>logout</button>
            <a href='/profile'>profile</a>
        </nav>
    {{else}}
        <nav>
            <a href='/login'>login</a>
        </nav>
    {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}
</body>
</html>